@using DB.Models;

@model Table3;

<h2>Details</h2>

@if (Model == null)
{
<div class="contentText">No volums at all.</div>
}
else
{
<h1>@Model.Id</h1>
<div>
    @if (ViewBag.Error != null)
    {
        <div>
            @ViewBag.Error
        </div>
    }
    @if (Model.FileData == null)
    {
        <div class="">
            <form asp-controller="Home" asp-action="UploadFile" method="post"
                  enctype="multipart/form-data">
                <input type="number" hidden name="table3Id" value="@Model.Id" />
                <input type="file" name="file" />
                <button type="submit">Upload File</button>
            </form>
        </div>
    }
    else
    {
        <a asp-action="Download" asp-route-table3Id="@Model.Id">@Model.Id</a>
    }
</div>

    @foreach (Table2 table2s in Model.Table2s)
    {
    <p>
        Table2 Id [@table2s.Id]:
    </p>
    <ul>
        @foreach (Table1 table1 in table2s.Table1s)
        {
        <li>
            <span>Table1 Id: @table1.Id</span><br />
            <span>User name: @table1.User.Name [@table1.UserId]</span>
        </li>
        }
    </ul>
    }
}
