@model SearchViewModel
@if (ViewBag.Table3s == null)
{
    <div class="contentText">At the moment we have no books.</div>
}
else
{
    @if (ViewBag.PagingTab != null)
    {
        <div class="paging">
            @for (Int32 index = 0; index < ViewBag.PagingTab.Count; index += 1)
            {
                <a asp-action="Index" asp-route-paging="@index" asp-route-order="@ViewBag.Order" asp-route-Column1="@Model.Column1">@ViewBag.PagingTab[index][0] - @ViewBag.PagingTab[index][1]</a>
            }
        </div>
    }
    <div class="searching">
        <form asp-controller="Home" asp-action="Index" method="get">
            Column1:<input asp-for="Column1" />
            <span asp-validation-for="Column1"></span>
            Order by
            <input type="radio" name="order" value="false" checked="@(ViewBag.Order == false)" /> DESC
            <input type="radio" name="order" value="true" checked="@(ViewBag.Order == true)" /> ASC<br>
            <input type="hidden" id="paging" name="paging" value="@ViewBag.Paging" /><br>
            <input type="submit" value="Search" class="button" />
        </form>
    </div>
    <div class="rightColumn">
        <table class="listTable">
            @for (Int32 i = 0; i < (ViewBag.Table3s.Count + 1) / 2; i++)
            {
                <tr>
                    @for (Int32 j = i * 2; j < i * 2 + 2 && j < ViewBag.Table3s.Count; j++)
                    {
                        <td class="contentTD">
                            <table border="0" width="550">
                                <tr class="bookItem">
                                    <td width="227px">
                                        @*<img src="@Url.Action("ImageForBookCover", new {bookId = ViewBag.Table3s[j].Id})" class="contentImage" />*@
                                    </td>
                                    <td class="bookItemHeadTd">
                                        <div class="bookItemHead">
                                            <a asp-action="Details" asp-route-table3Id="@ViewBag.Table3s[j].Id" target="_blank">@ViewBag.Table3s[j].Id</a><br><br>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    }
                </tr>
            }
        </table>
    </div>
}
